{% extends "tracker/layout.html" %}
{% block content %}
    <!-- Main -->
    <main class="main-container">
      <div class="main-cards">
        <div class="card">
            <div class="card-inner">
              <h3>Total CFS</h3>
              <span class="material-icons-outlined">format_align_justify</span>
            </div>
            <h1>{{total_cfs}}</h1>
        </div>
        <div class="card">
            <div class="card-inner">
              <h3>Audit Level</h3>
              <span class="material-icons-outlined">pending</span>
            </div>
            <h1>{{audit_level}}</h1>
        </div>

        <div class="card">
            <div class="card-inner">
              <h3>Approved</h3>
              <span class="material-icons-outlined">check_circle</span>
            </div>
            <h1>{{approved_cfs}}</h1>
        </div>
      </div>

      <div class="main-cards">
          <div class="card">
              <div class="card-inner">
                  <h3>Management</h3>
                  <span class="material-icons-outlined">pending</span>
              </div>
              <h1>{{management}}</h1>
          </div>

          <div class="card">
                <div class="card-inner">
                  <h3>Final Review</h3>
                  <span class="material-icons-outlined">pending</span>
              </div>
              <h1>{{final_review}}</h1>
          </div>

          <div class="fired">
                <div class="card-inner">
                  <h3>On Hold</h3>
                  <span class="material-icons-outlined">pause</span>
                </div>
                <h1>{{on_hold}}</h1>
          </div>
      </div>
    </main>
{% endblock content %}
